<app-navbar style="position: fixed; width: 100%; z-index: 100; top: 0;"></app-navbar>
<div class="main-container">
  <mat-drawer-container [hasBackdrop]="false">
    <mat-drawer class="sidenav" #drawer [mode]="mode" [(opened)]="opened">
      <div class="sidenav-grid">
        <div style="position: relative">
          <div style="position: sticky; display: block;">
            <app-recipe-list></app-recipe-list>
          </div>
        </div>
        <div class="toggle-container">
          <button (click)="drawer.close()" [disableRipple]="true" class="toggle-button" mat-icon-button color="primary" aria-label="close-sidenav">
            <mat-icon>chevron_left</mat-icon>
          </button>
        </div>
      </div>

    </mat-drawer>
    <mat-drawer-content class="detail-content">
      <div class="toggle-grid">
        <div>
          <div class="toggle-container toggle-open">
            <button onclick="this.blur()" (click)="drawer.open()" [disableRipple]="true" class="toggle-button" mat-icon-button color="primary" aria-label="open-sidenav">
              <mat-icon>chevron_right</mat-icon>
            </button>
          </div>
        </div>
        <div class="detail-container">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
